body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
    background-color: #1f2937;
    padding: 0px 150px;
}

.logo img {
    max-width: 80px;
    height:auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}


