body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: #1f2937;
    padding: 0px 150px 50px;
}

.logo img {
    max-width: 80px;
    height:auto;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    margin-top:70px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.banner img {
    max-width: auto;
    max-height: 250px;
}

.content {
    max-width: 50%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: #F9FAF8;
    padding: 10px 20px;

}

.content-wrapper {
    padding: 50px 150px 50px;
    text-align: center;
}

.container {
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box img, .box {
    max-width: 200px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-wrapper {
    padding: 50px 150px 50px;
    text-align: center;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-wrapper p {
    font-size: 18px;
    font-weight: 900;
    color: #1f2937;
    text-align: right;
}

.content-wrapper h2 {
    font-size: 20px;
    margin: 0px;
}

.cta {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
}

.description {
    text-align: left;
}

.cta p {
    font-size: 12px;
    margin: 0px;
    padding-top:5px;
    color: #e5e7eb;
}

.cta button {
    border-radius: 5px;
    border: 2px solid white;
    font-size: 14px;
    color: #F9FAF8;
    padding: 8px 20px;

}

.cta h2 {
    font-size: 28px;
    font-weight: bolder;
    color: #F9FAF8;
}

.footer-wrapper {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {
   color:black;
   font-size: 14px;
} 
